<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

    <!-- FAVICON -->
    <link rel="icon" href="{{ '/images/favicon.png?v=3' | relative_url }}">

    <!-- Open Graph / Partage réseaux sociaux -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Wiki BotC FR">
    <meta property="og:description" content="Wiki francophone de Blood on the Clocktower : rôles, règles et ressources.">
    <meta property="og:image" content="{{ '/images/og-wiki-botc-fr.png' | relative_url }}">
    <meta property="og:url" content="{{ page.url | absolute_url }}">

    <!-- Twitter / X -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Wiki BotC FR">
    <meta name="twitter:description" content="Wiki francophone de Blood on the Clocktower : rôles, règles et ressources.">
    <meta name="twitter:image" content="{{ '/images/og-wiki-botc-fr.png' | relative_url }}">
  </head>

  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
  </body>
</html>
