<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Titre de l’onglet -->
    <title>
      {% if page.title %}
        {{ page.title }} – {{ site.title }}
      {% else %}
        Wiki communautaire en français de Blood on the Clocktower
      {% endif %}
    </title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

    <!-- FAVICON -->
    <link rel="icon" href="{{ '/images/favicon.png?v=3' | relative_url }}">

    <!-- ========================= -->
    <!-- Open Graph (Discord, FB, etc.) -->
    <!-- ========================= -->
    <meta property="og:type" content="website">

    <meta property="og:title"
          content="{% if page.title %}{{ page.title }} – {{ site.title }}{% else %}Wiki communautaire en français de Blood on the Clocktower{% endif %}">

    <meta property="og:description"
          content="{% if page.description %}{{ page.description | strip_html | strip_newlines | escape }}{% else %}Wiki communautaire francophone de Blood on the Clocktower : rôles, règles et ressources.{% endif %}">

    <meta property="og:image"
          content="{% if page.image %}{{ page.image | absolute_url }}{% else %}{{ '/images/og-wiki-botc-fr.png' | absolute_url }}{% endif %}">

    <meta property="og:url"
          content="{{ page.url | absolute_url }}">

    <!-- ========================= -->
    <!-- Twitter / X -->
    <!-- ========================= -->
    <meta name="twitter:card" content="summary_large_image">

    <meta name="twitter:title"
          content="{% if page.title %}{{ page.title }} – {{ site.title }}{% else %}Wiki communautaire francophone de Blood on the Clocktower{% endif %}">

    <meta name="twitter:description"
          content="{% if page.description %}{{ page.description | strip_html | strip_newlines | escape }}{% else %}Wiki communautaire francophone de Blood on the Clocktower : rôles, règles et ressources.{% endif %}">

    <meta name="twitter:image"
          content="{% if page.image %}{{ page.image | absolute_url }}{% else %}{{ '/images/og-wiki-botc-fr.png' | absolute_url }}{% endif %}">
  </head>

  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
  </body>
</html>
